
<!--*ngIf="visible"-->
<br>
<div class="row">
  <div class="col-xs-3 col-md-3 col-sm-3 col-lg-3 col-lx-3">
    <mat-card class="searchCard">
    <form [formGroup]="advancedSearch" (ngSubmit)="advanceSearch()">
      <label>
        Name:<br>
        <input type="text" formControlName="Name">
      </label>
      <label>
        SerialNumber:<br>
        <input type="text" formControlName="serialNumber">
      </label>
      <label>
        Model:<br>
        <input type="text" formControlName="Model">
      </label>
      <!--
      Add Multi selector here
      -->
      <label>
        YOF:<br>
        <input type="text" formControlName="yearOfManufacture">
      </label>
      <br>
      <button type="submit">Submit</button>


    </form>
    </mat-card>
  </div>
  <div *ngIf="keys" class="tableScrolling col-xs col-md col-sm col-lg col-lx-">
    <table datatable [dtOptions]="dtOptions" class="table table-striped row-border hover" >

      <thead>
      <tr class="row"  style="background-color: #29CF9F">

        <td class="col-xs col-md col-sm col-lg col-lx ColorForHeader" *ngFor="let key of keys" >{{ key|titlecase}}</td>
        <td class="col-xs col-md col-sm col-lg col-lx ColorForHeader">Actions</td>



      </tr>
      </thead>
      <div >

      </div>
      <tbody>

      <tr  class="row"  *ngFor="let rowData of rowsData | paginate: { itemsPerPage: 5, currentPage: p, totalItems:total}" >
        <td  class="col-xs col-md col-sm col-lg col-lx" tooltip={{rowData[key]}} placement="top" show-delay="500" *ngFor="let key of keys" >{{rowData[key] | tableData}}{{rowData["FirstName"]}} </td>
        <td class="col-xs col-md col-sm col-lg col-lx"><button class="btn" (click)="ViewDetails(rowData.id)">Details <i class="fas fa-angle-right"></i></button></td>


      </tr>

      </tbody><br>
      <pagination-controls (pageChange)="getPage($event)"></pagination-controls>

    </table>
  </div>
  <div *ngIf="!keys" style="align : center">
    DATA IS NOT AVAILABLE
  </div>
</div>


