
<div class="row container-fluid">
  <div class="col-xs-3 col-md-3 col-sm-3 col-lg-3 col-lx-3">
    <mat-card class="SearchFiled">


      <div *ngIf="cardData=='Assets'">
        <!--<div class="row">
          <div class="col-xs-2 col-md-2 col-sm-2 col-lg-2 col-lx-2">
            <label>Name</label>
          </div>
          <div class="col-xs col-md col-sm col-lg col-lx">
            <input type="text" class="form-control" placeholder="Company" (click)="advancedSearch()">
          </div>
        </div>-->
        <form [formGroup]="advancedSearch" (ngSubmit)="advanceSearch()">
          <label>
            Name:
            <input type="text" formControlName="Name">
          </label>
          <label>
            SerialNumber:
            <input type="text" formControlName="serialNumber">
          </label>
          <label>
            Model:
            <input type="text" formControlName="Model">
          </label>
          <!--
          Add Multi selector here
          -->
          <label>
            YOF:
            <input type="text" formControlName="yearOfManufacture">
          </label>
          <button type="submit">Submit</button>

        </form>

        <!--          <div *ngIf="textBox" >
                    <form [formGroup]="textBox" (submit)="checkBoxResult()">
                      <label formArrayName="rowsData" *ngFor="let company of textBox.controls.rowsData.controls; let i = index">
                        <input type="checkbox" [formControlName]="i" >
                        {{rowsData[i].company}}
                      </label>
                      <button type="submit">submit</button>


                    </form>

                  </div>-->



      </div>



    </mat-card>
  </div>

  <div class="col-xs-9 col-md-9 col-sm-9 col-lg-9 col-lx-9">
    <mat-card>
      <div class="row" *ngIf="dataNotAvailable==false">

        <mat-card class="col-xs-3 col-md-3 col-sm-3 col-lg-3 col-lx-3 cards" *ngFor="let rowData of rowsData | paginate: { itemsPerPage: 5, currentPage: p, totalItems:total} " (click)="profile(rowData.id)">
          <div>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-header>
              <mat-card-title>{{rowData[this.keys[1]]}}</mat-card-title>
              <mat-card-subtitle style="width: inherit;">{{rowData[this.keys[2]]}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/{{cardData}}.jpg">
            <mat-card-content>

            </mat-card-content>
          </div>
        </mat-card>
      </div>
      <div *ngIf="dataNotAvailable==true">
        <div>NO DATA FOUND</div>

      </div>

    </mat-card><br>
    <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
  </div>


</div>



